/* sidebar.css */
.sidebar {
  width: 250px; /* Lebar sidebar */
  height: 100vh; /* Tinggi sidebar sesuai tinggi layar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-top: 20px; /* Jarak dari atas */
}

.logo {
  max-width: 100%; /* Lebar maksimum logo */
}

.menu {

  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-top: 40px;
  margin-bottom: 10px; /* Jarak antara setiap menu */
}

.menu-link {
  font-size: medium;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white; /* Warna teks menu */
}

.icon {
  margin-right: 10px; /* Jarak antara ikon dan teks */
}
